[submodule "Milu/vendor/spdlog"]
	path = Milu/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Milu/vendor/GLFW"]
	path = Milu/vendor/GLFW
	url = https://github.com/OSevenCheng/glfw
[submodule "Milu/vendor/imgui"]
	path = Milu/vendor/imgui
	url = https://github.com/OSevenCheng/imgui
[submodule "Milu/vendor/glm"]
	path = Milu/vendor/glm
	url = https://github.com/g-truc/glm
